body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(0, 145, 255);
   
}

header{
    background-color: rgb(6, 172, 44);
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
    margin: 10px;
}

.header-title{
    text-align: right;
    margin: 10px;
    font-size: 50px;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 2px;
}

.main-container{
    display: flex;
    justify-content: center;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-beau{
    display: block;
    margin: auto;
    width: 85%;
    border: solid 5px rgb(3, 112, 196);
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
}

.img-beau:hover{
    opacity: 80%;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button{
    width: 20%;
    height: 20%;
    background-color: rgb(6, 172, 44);
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 1px;
}

.start-button:hover{
    background-color: rgb(0, 145, 255);
    transform: scale(1.05);
}

.about-section{
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 2px;
    background-color: rgb(6, 172, 44);
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
}

.about-section-info{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: x-large;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 1px;
    background-color: rgb(6, 172, 44);
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
}


.proj-title{
    padding: 10px;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 2px;
}

.proj-img1{
    display: block;
    margin: auto;
    width: 60%;
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
}

.proj-img1:hover{
    opacity: 80%;
}

.proj-img2{
    display: block;
    margin: auto;
    width: 50%;
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
}

.proj-img2:hover{
    opacity: 80%;
}

.proj-info{
    padding-top: 10px;
    font-size: large;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 1px;
}

.button-section{
    display: flex;
    justify-content: center;
}

.next-button{
    background-color: rgb(6, 172, 44);
    border: rgb(3, 112, 196) solid 5px;
    border-radius: 10px;
    box-shadow: rgb(72, 72, 208) 5px 7px;
    color: rgb(6, 172, 44);
    text-shadow: rgb(0, 145, 255) 3px 3px;
    -webkit-text-stroke-color: rgb(134, 255, 123);
    -webkit-text-stroke-width: 1px;
}